@charset "utf-8";
/* CSS Document */


 
@media (max-width: 979px) {

}

@media (max-width: 979px) and  (-webkit-min-device-pixel-ratio: 2) {
	
}
@media (min-width: 768px) and (max-width: 1250px) {
	
} 


 
@media (min-width: 768px) and (max-width: 1024px) {/*tablet*/


}

@media only screen and (max-device-width: 767px) and (min-device-width: 320px){ 
.logo-login{font-size: 55px;}
.modal-dialog{ width: 100%;    margin: 50% auto; }

}

@media (max-width: 767px) {/*phone*/
.logo-login{font-size: 55px;}
.modal-dialog{ width: 100%;    margin: 50% auto; }
}

@media (max-width: 480px) {
.modal-dialog{ width: 100%;    margin: 50% auto; }
}




@media (max-width: 320px) {
    .modal-dialog{ width: 100%;    margin: 50% auto; }
}

