@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(errors: java.util.List[String])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@scale("WINSBROKER LOGIN") {
  <div id="page">
    <div class="container-fluid bg-page">
      <div class="col-lg-4 col-sm-6 col-md-5 col-xs-12 col-centered">
        <h1 class="logo-login">WINSBROKER</h1>
        @helper.form(action = routes.LoginController.doLogin) {
          <div class="block-login">
            <div class="input-login">
              <p>Username / Email</p>
              <input type="text" name="username" class="form-control user">
            </div>
            <div class="input-login">
              <p>Password</p>
              <input type="password" name="password" class="form-control pass">
            </div>
            <div class="input-login" style="padding-top: 0;">
              <a href="#">Forgot your password ?</a>
            </div>
            <button type="submit" class="btn">Log in</a>
          </div>
        }
      </div>
    </div><!--container-fluid-->
  </div>

  @if(!errors.isEmpty) {
    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          @errors.map{ error =>
            <!-- Modal -->
            <div class="modal-body">
              @error
            </div>
          }
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $("#error").modal('show');
    </script>
  }
}
