@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(title: String, errors: java.util.List[String])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(title) {
  @helper.form(action = routes.LoginController.doLogin) {
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" name="login" value="Login">
  }

  @if(!errors.isEmpty) {
    @errors.map{ error =>
        <p>@error</p>
    }
  }
}
